@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: none;

}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.container .glass{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 20;
backdrop-filter: blur(150px);
}

.container .container-balls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}


.container-balls .ball{
    position: absolute;
    animation: move-balls 0.50s infinite alternate;
}


.container-balls .ball:first-child{
    width: 350px;
    height: 300px;
    background-color: #bb32bb;
    top: 30%;
    left: 50%;
    border-radius: 50%;
    z-index: 3;
}

.container-balls .ball:nth-child(2){
    width: 400px;
    height: 300px;
    background-color: #00BBF9;
    top: 20%;
    left: 30%;
    border-radius: 50%;
    z-index: 2;
}

.container-balls .ball:nth-child(3){
    width: 500px;
    height: 400px;
    background-color: #9B5DE5;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}


.container-balls .ball:nth-child(4){
    width: 700px;
    height: 400px;
    background-color: #F15BB5;
    top: 40%;
    left:20%;
    border-radius: 50%;
}

.container .container-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container .container-content .logo{
    font-size: 15vw;
    font-weight: 700;
    animation: logo-animation 4s alternate infinite;
    color: white;
    display: inline-block;
}

.container .container-content .description{
    font-size: 25px;
    font-weight: 200;
    color: white;
    text-align: center;
}

.container .container-content .cursor{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 999;
    transform: translate(-50%,-50%) scale(1);
    border-radius: 50%;
    border: 2px solid white;
    transition: top 0.50s left 0.50s;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    will-change: top left;
}

.cursor-play{
    scale: 3;
    transition: scale 0.50s;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    /*backdrop-filter: blur(10px);*/
    background-color: white;
    color: white;
    font-weight:900;
    font-size: 20px;
    animation: logo-animation-play 5s infinite linear;
}

@keyframes move-balls {
    0%{
        transform: scale(1) translate(0,0);
    }
    100%{
        transform: scale(1.2) translate(20px,10px);
    }
}

@keyframes logo-animation {
    0%{
        text-shadow: none;
    }
    40%{
        text-shadow: -1px 1px 10px #fff;
    }
    50%{
        text-shadow: none;
    }
    60%{
        text-shadow: -1px 1px 10px #fff;
    }
    70%{
        text-shadow: none;
    }
    100%{
        text-shadow: -1px 1px 10px #fff;
    }
}

@keyframes logo-animation-play {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}